
<div class="user-header">
  <h1 class="username"> <%= @user.name %> </h1>
  <div class="profile-pic">
    <img src="<%= @user.img_url%>" alt="">
  </div>
</div>



<div class="user-main">
  <% @searches.each do |song| %>
    <div class="song-div">
      <div class="song-pic"></div>
      <!-- <img src=" <%= song.img_url %> " alt="" class="song-img"> -->
      <div class="song-info">
        <h2 class="song-title"><%= song.song_name %> </h2>
        <h3 class="song-artist"> <%= song.artist %>  </h3>
      </div>
    </div>
  <% end %>

</div>
<div class="search-btn">
  <a href="/searches/new" > search </a>
</div>
