<div class="message-div">

  <% @participants.each do |participant| %>
    <h4 class="message-user"> <%= participant.name %> </h4>
  <% end %>  

  <% @messages.each do |message| %>
    <h3 class="message-user">
      <%= message.user_id %>
    </h3>
    <h2 class="message-content">
      <%= message.content %>
    </h2>
    <h3 class="message-date">
      <%= message.created_at %></h3>
  <% end %>

</div>
<div class="write">
  <form action="/message" method="post">
    <input type="hidden" id="conversation_id" value="<%= @room_id %>">
    <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <input type="text" id="message" placeholder="type message...">
    <button class="message-submit">send</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
  var $submitBtn = $('.message-submit');

  $submitBtn.on('click', function (event) {
    event.preventDefault();
    var options = {
      url: '/room',
      data: {
        content: $("#message").val(),
        room_id: $('#room_id').val()
      },
      method: 'post'
    }
    $.ajax(options).done(function (res) {

      $('.likes-count').text(res.likes_count)
    });
  })
</script>
