<!DOCTYPE html>
<html>
  <head>
    <title>InTuneD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag "intune.png" %>
      </div>
      <% if logged_in?%>
        <a class="logo-parent" href="/users/<%= current_user.id %>"><h1 class="logo-text">InTune</h1></a>
      <% else %>
        <a class="logo-parent" href="/login"><h1 class="logo-text">InTune</h1></a>
      <% end %>
      <% if logged_in? %>
        <form action="/session" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <button class="logout"><%= image_tag 'log-out.png' %></button>
        </form>

      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
